.headerText{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
nav {
    font-size: 25.6px !important;
}

.projectItem .darkerText{
    font-size: 35px !important;
    color: white;
}
.projectItem div{
    margin-left: 5%;
}

.projectItem>div:last-child {
    margin-right: 5%;
}

.linkItem{
    font-size: 20px !important;
}